@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: "Inter", 'Segoe UI';
}

.sidebar {
    width: 275px;
    height: 100%;
    background-color: #EEEEEE;
    padding: 1.125rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.sidebar-icon {
    height: 1.5rem;
    user-select: none;
}

.add-task-button {
    background-color: #4076FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    color: #E1E1E1;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    margin-top: 2.5rem;
    user-select: none;
}

.add-icon {
    height: 0.875rem;
    aspect-ratio: 1/1;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    gap: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 0.75rem;
    color: #1E1E1E;
    user-select: none;
}

.sidebar-item:hover {
    background-color: #DADADA;
}

.sidebar-item-active {
    background-color: #F8F8F8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-color: #F8F8F8;
}

.sidebar-item-active:hover {
    background-color: #F8F8F8;
}

.sidebar-item-icon {
    width: 1.125rem;
}

.sidebar-section-name {
    color: #505050;
    font-weight: 700;
    margin-top: 2rem;
}

.high-priority-item-active {
    background-color: #FFEBEB;
    border-color: #FFC3C3;
}

.medium-priority-item-active {
    background-color: #EAE8FF;
    border-color: #BEBBFF;
}

.low-priority-item-active {
    background-color: #E2FFE6;
    border-color: #72FF80;
}

.project-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-section-add-button {
    height: 1rem;
    user-select: none;
}

.content {
    height: 100%;
    flex: 1;
    background-color: #F8F8F8;
}

.project-page {
    padding: 1.5rem 2rem;
}

.project-page>.project-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-page>.project-page-header>.project-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.project-page>.project-page-header>.project-menu {
    height: 1.5rem;
    user-select: none;
}

.project-page>.tasks {
    margin-top: 2.5rem;
}

.project-page>.add-task-item {
    border: 0px solid #DCDCDC;
    border-bottom-width: 1px;
    height: 3.5rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    color: #4076FF;
    user-select: none;
    gap: 1rem;
    padding-left: 0.5rem;
}

.project-page>.add-task-item>.blue-add-icon {
    height: 1rem;
    aspect-ratio: 1/1;
}

.task-card {
    display: flex;
    flex-direction: column;
    border: 0px solid #DCDCDC;
    border-bottom-width: 1px;
    height: 3.5rem;
    padding: 0.5rem;
    gap: 0.375rem;
}

.task-card>.upper-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-card>.upper-row>.task-card-checkbox {
    margin: 0.125rem;
    scale: 1.15;
}

.task-card>.upper-row>.task-hashtag-icon {
    height: 0.75rem;
    margin-left: 1rem;
}

.task-card>.upper-row>.task-title {
    margin-left: 0.5rem;
    font-size: 0.875rem;
}

.task-card>.lower-row {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.task-card>.lower-row>.task-alarm-icon {
    height: 1rem;
}

.task-card>.lower-row>.task-due-date {
    font-size: 0.625rem;
    font-weight: 600;
    color: #878787;
    margin-left: 0.4125rem;
}

dialog {
    animation: fade-out 0.3s ease-out;
}

dialog:open {
    animation: fade-in 0.3s ease-out;
}

dialog:open::backdrop {
    animation: backdrop-fade-in 0.2s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 5%);
    }
}

.menu-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    padding: 1.5rem;
    width: 350px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    filter: drop-shadow(0px 46px 130px rgba(0, 0, 0, 35%));
}

.menu-dialog-box>.container {
    display: flex;
    flex-direction: column;
}

.menu-dialog-box>.container>.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.menu-dialog-box>.container>.dialog-header>.menu-close-button {
    height: 1.75rem;
}

.menu-dialog-box>.container>.menu-item {
    padding: 0.5rem 1rem;
    font-weight: 450;
    border: 1px solid #DCDCDC;
    user-select: none;
    margin-top: 0.75rem;
    border-radius: 0.25rem;
}

.menu-dialog-box>.container>.menu-item:hover {
    background-color: #EEEEEE;
}

.add-project-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    padding: 1.5rem;
    width: 350px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    filter: drop-shadow(0px 46px 130px rgba(0, 0, 0, 35%));
}

.add-project-dialog-box>.container {
    display: flex;
    flex-direction: column;
}

.add-project-dialog-box>.container>.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.add-project-dialog-box>.container>.dialog-header>.menu-close-button {
    height: 1.75rem;
}

.add-project-dialog-box>.container>.project-name-input {
    padding: 0.5rem 0.875rem;
    font-size: 1rem;
    border: 1px solid #E1E1E1;
    border-radius: 0.25rem;
    outline: none;
    background-color: #EEEEEE;
    color: #1E1E1E;
}

.add-project-dialog-box>.container>.button-group {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
    margin-top: 1rem;
    justify-content: flex-end;
}

.add-project-dialog-box>.container>.button-group>.submit-button {
    border: 1px solid #E1E1E1;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #4076FF;
    color: #F8F8F8;
    user-select: none;
}

.add-project-dialog-box>.container>.button-group>.submit-button:active {
    background-color: #2361ff;
}

.rename-project-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    padding: 1.5rem;
    width: 350px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    filter: drop-shadow(0px 46px 130px rgba(0, 0, 0, 35%));
}

.rename-project-dialog-box>.container {
    display: flex;
    flex-direction: column;
}

.rename-project-dialog-box>.container>.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.rename-project-dialog-box>.container>.dialog-header>.menu-close-button {
    height: 1.75rem;
}

.rename-project-dialog-box>.container>.project-name-input {
    padding: 0.5rem 0.875rem;
    font-size: 1rem;
    border: 1px solid #E1E1E1;
    border-radius: 0.25rem;
    outline: none;
    background-color: #EEEEEE;
    color: #1E1E1E;
}

.rename-project-dialog-box>.container>.button-group {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
    margin-top: 1rem;
    justify-content: flex-end;
}

.rename-project-dialog-box>.container>.button-group>.submit-button {
    border: 1px solid #E1E1E1;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #4076FF;
    color: #F8F8F8;
    user-select: none;
}

.rename-project-dialog-box>.container>.button-group>.submit-button:active {
    background-color: #2361ff;
}

.add-task-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DCDCDC;
    border-radius: 0.25rem;
    padding: 1.5rem;
    width: 350px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    filter: drop-shadow(0px 46px 130px rgba(0, 0, 0, 35%));
}

.add-task-dialog-box>.container {
    display: flex;
    flex-direction: column;
}

.add-task-dialog-box>.container>.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.add-task-dialog-box>.container>.dialog-header>.menu-close-button {
    height: 1.75rem;
}

.add-task-dialog-box>.container>.input-field-label {
    font-weight: 600;
    font-size: 0.875rem;
    color: #505050;
    margin: 0.25rem 0rem;
}

.add-task-dialog-box>.container>.input-field {
    padding: 0.5rem 0.875rem;
    font-size: 1rem;
    border: 1px solid #E1E1E1;
    border-radius: 0.25rem;
    outline: none;
    background-color: #EEEEEE;
    color: #1E1E1E;
    margin-bottom: 0.75rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Custom dropdown arrow */
    background-image: url("../src/icons/drop_down_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px 20px;
    /* <-- make arrow bigger */
}

textarea {
    resize: vertical;
}

.add-task-dialog-box>.container>.button-group {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
    margin-top: 1rem;
    justify-content: flex-end;
}

.add-task-dialog-box>.container>.button-group>.submit-button {
    border: 1px solid #E1E1E1;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #4076FF;
    color: #F8F8F8;
    user-select: none;
    margin-right: 1px;
}

.add-task-dialog-box>.container>.button-group>.submit-button:active {
    background-color: #2361ff;
}